:root {
    --header-height: 5rem;
    --aside-width: 15vw;
}

body {
    background: #e9edc9;
    margin: 0;
    /* font-family: 'Crimson Text', serif; */
    font-family: Neucha, sans-serif;
}

header {
    position:fixed;
    top: 0rem;
    margin: 0;
    height: var(--header-height);
    width: 100vw;
    background: rgb(233,237,201);
    background: linear-gradient(0deg, rgba(233,237,201,1) 0%, rgba(121,128,99,1) 100%);
}

.header-title {
    display: flex;
    color: #f7f3df;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    font-weight: 600;
    font-size: 34px;
}

.page-container {
    display: flex;
    justify-content: space-evenly;
}

aside {
    display: flex;
    /* background: #d4a373; */
    height: 100vh;
    width: var(--aside-width);
}

.pocket p {
    padding-left: 1rem;
}

main {
    justify-content: center;
    margin-top: var(--header-height);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-div {
    width: 6rem;
}

.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* .button-shape {
    <!-- HTML !-->
<button class="button-55" role="button">Button 55</button>

CSS */

/* Styling for buttons and input fields */

.button-style {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor:grab;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  padding: .75rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

.button-style:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-style:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.input-field-style {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  margin: 1rem;
  text-align: center;
  padding: .4rem;
}